.contenedor {
    width: 1250px;
    height: 650px;
}
.header {
    width: 1200px;
    height: 80px;
    background-color: #EC576B;
    position: relative;
    font-size: xx-large;
    
}
.title1 {
    position: relative;
    top: 20px;
    left: 550px;
}

.mainIntro {
    width: 200px;
    height: 570px;
    background-color: #E5E338;
    position: relative;
    top: -20px;
    font-size: medium;
}
.title2 {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: large;
}
.intro1 {
    position: relative;
    top: 100px;
} 
.intro2 {
    position: relative;
    top: 150px;
}

.main {
    width: 1000px;
    height: 570px;
    background-color: black;
    position: relative;
    top: -606px;
    left: 200px;
    font-size: large
}
.box1 {
    height: 300px;
}
.instru1 {
    width: 100px;
    color: #E5E338;
    position: relative;
    top: 75px;
    left: 80px;
}
.putting {
    width: 870px;
    height: 300px;
    position: relative;
    top:-180px;
    left: 130px;
}
.mainOff {
    width: 200px;
    height: 50px;
    position: relative;
    top: -10px;
    left: 430px;
}
.code {
    width: 50px;
    color: #4EC5C1;
    position: relative;
    top: 33px;
    left: -50px;
    font-size: medium
}
.offset.style {
    position: relative;
    left: 30px;
}
.prev {
    width: 500px;
    height: 250px;
    position: relative;
    left: 200px;
}
#text1 {}
.btns1 {
    height: 50px;
}
.cifrar.style {}
.descifrar.style {}
.box2 {
    height: 280px;
    position: relative;
    top: -20px;
}
.instru2 {
    width: 80px;
    color: #EC576B;
    position: relative;
    top: 90px;
    left: 80px;
}
.post {
    width: 600px;
    position: relative;
    top: -70px;
    left: 330px;
}
#text2 {}
.btns2 {}
.copiar.style {}
.borrar.style {}